[2015-02-24 03:57] jdickey opened #1 "Filters and defaults."
This *probably* shouldn't look at what's in `vendor`, and arguably `config` by default, yet I see no [configuration option](https://github.com/DamirSvrtan/fasterer#configuration) for limiting matches. Is that on the radar, or am I missing something?

[2015-02-24 06:18] almostwhitehat opened #2 "Request - Detect Enumerable#select + last"
Detect Enumerable#select + last, suggest Array#reverse + detect

[2015-02-24 07:43] DamirSvrtan commented on #1
Yep, that is on the top of the list. Will close this task once i release it. I know a couple of gems that do path ignoring, do you have a preference or an example of something really good?

[2015-02-24 07:44] DamirSvrtan commented on #2
I get Enumerable#select + last, but why would someone do Array#reverse + detect? It's early in the morning and I'm probably missing something :)

[2015-02-24 12:06] DamirSvrtan commented on #2
Indeed it was way to early for me :)

Do you have this benchmarked?

Maybe you could submit this to fast-ruby: https://github.com/JuanitoFatas/fast-ruby

[2015-02-24 14:34] mwiley opened #4 ""Fasterer was unable to process some files" with blank config/initializers/wrap_parameters.rb in Rails"
When I run

[code]

in my Rails project, I get this error.

[code]

The file has nothing but the default comments at the top. I would expect it to just skip this file.

[2015-02-24 18:39] JakeTheSnake3p0 opened #5 "Use tr instead of gsub when grepping plain strings...unneccesary/wrong"
Most of the hits I get are for plain string substitution...

ex., `my_string.gsub('www.', 'dev.') # => replaces www. with dev.`

Yes, I could move that trivial example into a regular expression just to avoid this suggestion, but what's the point in that?

The use of `tr` is such that each character in the 1st argument is replaced by it's corresponding position in the 2nd argument. It isn't a simpl

[2015-02-24 22:36] DamirSvrtan commented on #5
Ok, so I figure this check should be performed if the gsubs first argument has only one character. I've released fasterer version 0.1.1 with this update.

Thnx very much for reporting this! Didn't know this one.

Please report if you think this isn't okay.

[2015-02-24 22:36] #5 closed

[2015-02-24 22:49] JakeTheSnake3p0 commented on #5
It might also make sense to word it such that it is a suggestion, not a rule break. The programmer may be trying something like `my_string.gsub('"', '\"')` (escaping double quote).

[2015-02-25 00:03] jackturnbull commented on #4
Getting the same for the following
[code]
These files are just the default Rails 4.2, nothing too special about them (as far as I can tell)

[2015-02-25 08:19] DamirSvrtan commented on #5
Hey @JakeTheSnake3p0, all the stuff that fasterer reports are just speed suggestions. Do you think this wording is better?

`Using tr when replacing one-character plain strings is faster than using gsub`

[2015-02-25 08:38] DamirSvrtan commented on #4
They're probably empty files, and error handling for empty files is something that was leftover from the previous parser I was using. I've released 0.1.2 so please check it out and reopen the issue if there are still some problems.

[2015-02-25 08:38] #4 closed

[2015-02-25 13:26] u2 opened #6 "Sometime module_eval can not be changed to define_method."
I have play `fasterer` in my code.It point out `Using module_eval is slower than define_method. Occured at lines: 50.`.But my code is something like that:
[code]
It can not be changed to `define_method` in this situation.So, it think it should not give me the suggestion anywhere I using `module_eval`.

[2015-02-25 14:02] DamirSvrtan commented on #6
Hey, thnx for reporting. I will try to change after we see what happens with this issue: https://github.com/JuanitoFatas/fast-ruby/issues/22

[2015-02-25 15:29] JakeTheSnake3p0 opened #7 "Useful references for rules"
https://www.omniref.com/github/JuanitoFatas/fast-ruby/HEAD

[2015-02-25 15:50] JakeTheSnake3p0 commented on #5
`Using tr is faster than gsub when replacing a single-character string with another single character`. I think you'll need to check that both the `from` and `to` strings are both one character. IMO all other circumstances are more than likely appropriate situations to use `gsub`. This suggestion is a dangerous one for those who don't really understand what `tr` is meant for.

[2015-02-25 22:05] DamirSvrtan commented on #7
Hey @JakeTheSnake3p0, what's the difference between viewing code on omniref and the fast-ruby repo?

Btw the link you sent returns 404's

[2015-02-25 22:42] DamirSvrtan commented on #5
@JakeTheSnake3p0 thnx a lot for your comments, I've updated the gem accordingly. Please do contribute further, loving it!

[2015-02-25 22:56] DamirSvrtan commented on #6
For now I've added a check to see if module_eval has a def inside of it. It's released in version 0.1.5.
I'm following the fast-ruby repository so if that changes i will remove it from fasterer.

Thnx for reporting.

[2015-02-25 22:56] #6 closed

[2015-02-26 00:13] JakeTheSnake3p0 commented on #7
Sorry, I was just browsing the web and came across the link; I figured there might have been some useful rules in there for this repo. I didn't look for the github repo as I didn't realize it would 404 so soon (or at all for that matter).

[2015-02-26 00:13] #7 closed

[2015-02-26 00:46] DamirSvrtan commented on #1
Hey @jdickey I've added an option to ignore file paths, please check the README. However I haven't added any of the path to defaults.

[2015-02-26 00:46] #1 closed

[2015-02-26 00:47] DamirSvrtan commented on #1
I will try to add a global configuration you could put in your HOME folder or something similar like Rubocop does.

[2015-02-26 22:40] DamirSvrtan commented on #2
I've added this to version 0.1.7. Thnx for your contribution!

[2015-02-26 22:40] #2 closed

[2015-02-27 18:11] danieljohnmorris opened #8 "Error "Scan""
[code]

[2015-02-27 19:01] DamirSvrtan commented on #8
Hey @danieljohnmorris, I've released a new version (0.1.8) on Rubygems that rescues the `Timeout::Error`. Since this is raised by the internal parser, I can't do much about it except rescuing it.
Please try again and tell me if some problems persist.

[2015-02-28 16:02] jdickey commented on #1
@DamirSvrtan Looks good; pretty much what I expected YAML config to look like. Gives me a much more usable report. Thanks!

[2015-03-08 20:34] DamirSvrtan commented on #8
@danieljohnmorris I'm closing this, if any other errors come up please open an issue.

[2015-03-08 20:34] #8 closed

[2015-04-08 22:03] tjchambers opened #9 "select + first incorrectly detects ActiveRecord select/first"
I have a ActiveRecord statement like .

..select('code').first

Fasterer surfaces that as being optimizable to detect. I believe that is incorrect. It does not appear to recognize only selects that use a predicate.

[2015-04-30 09:13] lpil opened #12 "Allow the user to run on a single file"
Hello!

I work on some rather large codebases, and running the very cool `fasterer` on them results in more information than is humanly manageable. It would be nice if I could run it on a single file (the one I'm working on). i.e.

[code]

Thanks,
Louis

[2015-06-04 22:32] DamirSvrtan commented on #9
Sorry for the late response, I've fixed the issue and released version 0.1.10

[2015-06-04 22:32] #9 closed

[2015-07-05 20:31] sshaw opened #13 "RUBY_PLATFORM Specific Suggestions?"
Hi, very nice program here :neckbeard: :+1:. Just started using it and, being very familiar with the fast-ruby benchmarks, I thought that I would be nice to  have `RUBY_PLATFORM` specific suggestions.

I know you have [your disclaimer](https://github.com/DamirSvrtan/fasterer#fasterer) -and certainly [we should not blindly do whatever the machine tells us](https://nakedsecurity.sophos.com/2012/07/2

[2015-07-05 22:23] DamirSvrtan commented on #13
Thnx for the kind words. First of all, I'm not sure if this will work with JRuby :) DId you test it if it works? Since all the suggestions are from the fast-ruby, I would suggest that this is applied to that repo and than make the appropriate changes here. @JuanitoFatas what do you think?

[2015-07-07 07:41] JuanitoFatas commented on #13
Sorry I'm not familiar with JRuby. What are your suggestions regarding `RUBY_ENGINE`? Could you submit your suggestion to fast-ruby? Thank you very much!

[2015-07-08 00:01] sshaw commented on #13
Well, it "works", but it tells me to use a block instead of `Symbol#to_proc` and `#each` instead of a for loop; these are not faster in JRuby 1.7.19:

https://travis-ci.org/JuanitoFatas/fast-ruby/jobs/69644640#L259
https://travis-ci.org/JuanitoFatas/fast-ruby/jobs/69644640#L453

This is the right place.

The idea is that the suggestion would be based on `RUBY_ENGINE` and `RUBY_VERSION`, so that yo

[2015-07-08 11:19] DamirSvrtan commented on #13
Ok, please invest some time in making the rules automatically generated from Travis output and create a pull request where we can see this. I'm up for making Fasterer work with JRuby and creating better and automatic support.

[2015-07-10 05:54] sshaw commented on #13
Having Travis drive the benchmarks is ideal, though my initial investigation shows that there may be issues.

 benchmark-ips can output JSON and Travis' logs are available via their API. But... this assumes that:

1) @JuanitoFatas changes output to JSON instead of benchmark-ips' default - the JSON would still have to be `grep`ed out from all the other log output. Not very nice. Don't think benchma

[2015-07-10 05:57] sshaw commented on #13
Of course benchmark-ips text output could be extracted from the travis logs. Makes things easier on the config side, but may be fragile.

[2015-07-15 13:45] DamirSvrtan opened #14 "Range#cover?"
https://github.com/JuanitoFatas/fast-ruby/pull/44#issuecomment-121609149

[2015-07-19 20:35] sshaw commented on #13
Okay, my conclusion is that's best to forget about  using Travis CI and generate the rules file locally via `rvm do` or similar and [a JSON or CSV export](https://github.com/JuanitoFatas/fast-ruby/issues/19).

[2015-08-05 15:49] #14 closed

[2015-08-07 22:49] jmccaffrey commented on #12
I had the same requirement, basically I wanted to try this out against an older ruby project, but I wouldn't be able to run this gem from that dir, because it is a much older version of ruby.

I forked, branched, and tried my hand at allowing a path or individual file to be passed in.
https://github.com/jmccaffrey/fasterer/tree/pass_in_dir

Allow a directory or individual file to be passed in

Con

[2015-08-10 19:40] monfresh opened #20 "Parallel assignment vs sequential assignment is providing wrong suggestion"
I believe the latest results from fast-ruby show that [Parallel assignment is faster than sequential assignmnent](https://github.com/JuanitoFatas/fast-ruby#parallel-assignment-vs-sequential-assignment-code). I ran benchmarks on my own code as well and sequential assignment is reported as slower. Currently, fasterer is saying that `Parallel assignment is slower than sequential assignment.`, which I

[2015-08-11 06:33] yous commented on #20
At first, the result was the reverse, but this is changed recently by fixing benchmark code. See https://github.com/JuanitoFatas/fast-ruby/pull/50#issue-98586885.

[2015-08-11 15:31] michaelachrisco opened #21 "Autocorrect"
Rubocop has an auto correct method. It would be nice to see something similar within fasterer (with an appropriate warning)

[2015-08-16 18:23] DamirSvrtan commented on #21
Would you be up for implementing this feature? If so, I'll have to arrange the command line interface.

[2015-08-16 18:24] DamirSvrtan commented on #12
I'll try to look at this as soon as possible.

[2015-08-16 18:25] DamirSvrtan commented on #13
Sorry, what's `rvm do`?

[2015-08-16 20:36] sshaw commented on #13
It allows one to run a program against various ruby installations:
[code]

Here are the docs: https://rvm.io/set/do

[2015-08-17 01:35] michaelachrisco commented on #21
Ill take a look at how rubocop implements  their auto-correct but no promises on any timeframes (so busy lately). Might be a killer feature though :+1:

[2015-09-12 07:32] shevegen opened #24 "Error message - please consider improving it"
Hi,

I was trying to use fasterer on a single .rb file:

fasterer wlan.rb

I get the following error message:

    Fasterer was unable to process some files because the
    internal parser is not able to read some characters or
    has timed out. Unprocessable files were:

-----------------------------------------------------
wlan.rb

---

This error message does not tell me much. What are the
bad

[2015-09-12 07:36] shevegen commented on #21
I reason that in principle, rubocop could be able to do the auto-correct since it already is able to do so (for many cops, not all of them though). I myself have been starting with rubocop only since perhaps ~2 months so I am not yet extremely familiar with it.

A simple example would be:

  x = "foo"

versus

  x = 'bar'

This is very minor, but one could also consider this to be a speed improvem

[2015-09-21 10:03] manorie opened #25 "How to make fasterer work on .rb files only"
I have a ruby project has a folder structure like,
token\
token\token.rb
token\lib\base.rb
token\lib\parts.rb
...
I could not find a way to work fasterer on my project. It does work in my rails projects until receiving an error like,

"Fasterer was unable to process some files because the
internal parser is not able to read some characters or
has timed out. Unprocessable files were:"

I really lik

[2015-09-21 11:39] DamirSvrtan commented on #25
Hey, it's not tied to any folder structure. Could you send me one file to see why it says they're unprocessable?

[2015-09-21 12:44] manorie commented on #25
Hey, I thought it is not working because did not received a message like, inspected 10 files, process quit, no offerings etc. A finished message can be a good improvement for such confusions.
For instance, in carrierwave (master branch) gem it gives a time out error at,
lib/generators/templates/uploader.rb

[2015-10-02 07:51] DamirSvrtan opened #27 "add check for range member"
https://github.com/JuanitoFatas/fast-ruby/pull/75

[2015-10-05 08:34] DamirSvrtan opened #28 "Single Array argument"
https://github.com/JuanitoFatas/fast-ruby/pull/76

[2015-12-17 06:59] AvnerCohen opened #31 "Re fetch_with_argument_vs_block , is it really faster?"
It doesn't seem faster when I tested:
[code]

[code]

Test Code:
[code]

Maybe it is something related to older version of ruby?

[2015-12-17 10:04] DamirSvrtan commented on #31
please post this to the fast-ruby repo, that's where the discussion about speed happen - this is just an implementation of the rules that happen there.

[2015-12-17 10:04] #31 closed

[2015-12-17 10:33] AvnerCohen commented on #31
:+1:

[2015-12-21 23:49] DamirSvrtan commented on #24
Hey, I've just released 0.2.0 - it has an improved error message.

For this file it will throw a parse error because it says it has a unexpected comma:

[code]

Thank you for reporting this and sorry for the extra late reply.

[2015-12-21 23:49] #24 closed

[2015-12-22 00:31] DamirSvrtan commented on #25
Hey, I've added a statistics output:

[code]

Check it out in 0.2.1

As for the uploader file that you've mentioned - I can't do anything about it since it's unparsable - it is a template for Rails but has a .rb extension. I can't detect that it's a template file. If you have any suggestions, I'm up for it.

Also, sorry for the extra late reply and fix.

[2015-12-22 00:31] #25 closed

[2015-12-28 10:31] bfontaine opened #33 "Don’t advise to use each_key if the receiver doesn’t support it"
`fasterer` advises to use `each_key` instead of `keys.each` even on objects that don’t support `each_key`:

[code]

[code]

[2016-01-04 17:43] DamirSvrtan commented on #33
Hough, this will be a tough one.

[2016-01-04 19:18] DamirSvrtan commented on #12
This has been published in 0.3.0 - sorry for the extra long wait!

[2016-01-04 19:18] #12 closed

[2016-01-04 19:22] lpil commented on #12
Hooray! :)

[2016-01-04 19:24] DamirSvrtan commented on #20
I've removed this check from fasterer. Stylewise I don't want people to do parallel assignment without thinking it through.

[2016-01-04 19:24] #20 closed

[2016-01-05 03:56] segantii-alex-falkowski opened #34 "unrecognized RUBY_VERSION 2.3.0"
[code]

[2016-01-05 03:58] segantii-alex-falkowski commented on #34
Looks like this issue has been raised https://github.com/seattlerb/ruby_parser/issues/205

[2016-01-25 10:46] radarek commented on #33
It's not tough. It's impossible one. Looking only at the source you can't tell if variable `x` points to object which implements specific method. It's related to dynamic nature of Ruby.

[2016-01-25 10:55] radarek commented on #21
Building such a tool is IMHO waste of time. Ruby has very dynamic nature. You can't tell what kind of object is hold in variable until runtime. Suppose you see code:

[code]

What kind of variable is x? You can't blindly replace it with "#{x}bar". Even if somehow you know that `x` is a string you can't be sure that `String#+` was monkey-patched. If it was then these two forms are not equivalent.

[2016-01-25 11:12] bfontaine commented on #33
Can’t you check only the hash variables? You’d miss custom classes that implement both `keys` and `each_key` but that’d still cover 99% of the use-cases.

[2016-01-25 11:50] radarek commented on #33
You can't do it too. In theory you could try to track how and when variables are created but in practice it's still an trial & error effort. Suppose you have a method:

[code]

How can we know if we can replace `x.keys.each` with `x.each_key`? Is `x` an array, a hash or MyCustomClass instace? And what if you call it like this:

[code]

[2016-01-25 12:21] bfontaine commented on #33
You’re right.

[2016-02-02 12:42] ioquatix commented on #34
+1 :)

[2016-02-02 13:00] DamirSvrtan commented on #34
Until the issue is solved internally in ruby_parser, I'm unable to do anything.

[2016-02-02 15:19] ioquatix commented on #34
I feel your pain. Sorry.

[2016-02-16 10:07] lienvdsteen commented on #34
+1

[2016-02-23 09:32] benoittgt commented on #12
Does people use this with a git hook?

[2016-02-23 10:39] rhymes commented on #34
@DamirSvrtan ruby_parser just released support for 2.3.0 in version 3.8.0 https://rubygems.org/gems/ruby_parser/versions/3.8.0

[2016-02-23 21:27] DamirSvrtan commented on #12
@benoittgt - check this out: https://github.com/DamirSvrtan/fasterer/pull/19

[2016-02-23 21:44] DamirSvrtan commented on #34
@segantii-alex-falkowski @ioquatix @lienvdsteen @rhymes please install ruby_parser version 3.8.1 to work with Ruby 2.3.0. I've added the test and it works.

I don't want to put a more stricter dependency in fasterer with ruby_parser with '>= 3.8.1'.

So if you're using it without bundler just do:

[code]

Or if you're using it in bundler,

[code]
This is a problem with a dependency, not with faste

[2016-02-23 21:44] #34 closed

[2016-02-24 08:27] benoittgt commented on #12
Thanks @DamirSvrtan

[2016-04-07 13:09] owst opened #36 "Advising to use each_key if the block modifies the hash"
Let's say we're creating something like Rails' indifferent access for hashes:

[code]

fasterer `0.3.2` says

[code]

but making that change gives a runtime error:

[code]

While it would be great if `fasterer` could inspect the block of the `each` and attempt to determine if the hash is modified during the iteration (not outputting the warning if so), this isn't possible in general. Furthermore,

[2016-10-02 17:08] #33 closed

[2016-10-04 15:54] schneems opened #37 "Recommended fetch with block over args as faster"
From https://github.com/rails/rails/pull/26599 i'm seeing that's not the case. Btw, this is a really cool project.

cc/ @timrogers

[2016-10-23 21:12] DamirSvrtan commented on #37
Thnx @schneems, I'll take a look at it, however I think I will have to make this project ruby-version specific since it seems that speed varies from version to version.

[2017-01-07 00:51] tleish opened #40 "Block vs Symbol to Proc rule"
I've run into 2 issues with the _Block vs Symbol to Proc_ offense.

1. The following code is flagged correctly:

[code]
but, this is not flagged:
[code]
Both have the same each block, but the parser dismisses it once the previous code is added.

2. This only detects each blocks and not any others.  There are many other block methods names which should also be included (map, find, any?, etc).  So,

[2017-01-24 03:36] monfresh commented on #37
FWIW, I just tried Ruby 1.9.3, 2.3.1, 2.3.3, and 2.4.0, and in all those versions, the argument version was faster than the block version.

[2017-08-09 19:51] mensfeld opened #44 "Is this tool still maintained?"
Hey there, I can see, that there are some PRs and that the code haven't been updated for quite a while. Just wanted to know, whether or not it is still maintained.

[2017-08-09 21:45] DamirSvrtan commented on #44
Hey @mensfeld, the maintenance will continue, sorry, did not have the time in the last couple of months to do so. Will do my best. If you want, I could give you the github permissions to help me if that's something you'd be interested in.

[2017-08-10 07:12] mensfeld commented on #44
@DamirSvrtan  thank you. I was just wondering whether or not it is a good idea to add it to my stack, but I know now that it is.

Unfortunately I have a lot o OSS going on myself, so sorry, but won't be able to contribute to a next one :(

[2017-08-10 07:12] #44 closed

[2017-10-26 19:18] Val opened #45 "%I[] notation parser error"
I seems there is a bug in support for interpolated array of symbols separated by whitespace (Ruby > 2.X)

### `test.rb` file:
[code]

Code works:
[code]

### `fasterer` parser error:
[code]

[2017-11-02 00:10] DamirSvrtan commented on #45
Hey @Val, thank you for reporting this issue, will look at it!

[2018-01-23 21:43] DamirSvrtan commented on #45
Hi @Val, this issue seems related to the https://github.com/seattlerb/ruby_parser gem and not to fasterer. Could you please open up an issue over there to resolve it?

Thank you!

[2018-01-23 21:43] #45 closed

[2018-01-23 21:57] DamirSvrtan commented on #36
Hey @owst, thanks for reporting this issue. I have updated the error message and it's in the new version of the gem: 0.4.0.

[2018-01-23 21:57] #36 closed

[2018-02-12 10:28] mensfeld opened #46 "Ruby 2.5 support"
[code]

[2018-02-12 17:21] DamirSvrtan commented on #46
Hey @mensfeld, I've pinged the ruby parser gem maintainers to get a new release from them. Unfortunately I can't do anything until we get a new release from them as these warnings are coming from that lib, not from fasterer.

Thanks for reporting!

[2018-03-16 23:33] #21 closed

[2018-03-29 15:56] hlascelles opened #48 "Root config file for multiple project support"
We have several ruby projects in one repo. We'd like to have the yml file in the root.

Would you be open to a change to have an upwards traversal to find it?

[2018-03-31 10:39] graywolf commented on #46
There's a ruby_parser 3.11 releases on 15th, so this is probably solved? At least I do not see any warnings on 2.5.

[2018-04-04 11:36] DamirSvrtan commented on #46
Bumped, if you install fasterer version 0.4.1 these should go away! Ping me if there's any more problems!

[2018-04-04 11:36] #46 closed

[2018-04-04 11:38] DamirSvrtan commented on #48
Sure thing, go for it, I'm open for a PR for this! I believe this is how Rubocop works.

[2018-04-04 15:12] mensfeld commented on #46
@DamirSvrtan I can confirm that it works:

![zrzut ekranu z 2018-04-04 17 09 38](https://user-images.githubusercontent.com/392754/38316536-3ebf186a-382b-11e8-94c4-387d6af3d5da.png)

Thanks!

[2018-04-09 09:49] DamirSvrtan commented on #46
Hi @mensfeld, can you please tell me what libs and CI are you using to show these messages from fasterer?

[2018-04-09 10:24] mensfeld commented on #46
Hey @DamirSvrtan, I use something that I've created for myself.

I was tired of having to upgrade all the tools like (awesome) fasterer for all the projects that I work with and having to have them in my gemfile, so I wrapped around a lot of tools, added a lot of my own, hooked it up to Github and added per commit review.

It is built it in a a way, that allows me to upgrade the platforms code wit

[2018-04-23 12:36] jumanjiman opened #49 "ignore rules via comments in source"
Currently it is possible to either:
* ignore a rule for all files, or
* ignore a file for all rules

It would be nice to be able to fine-tune the configuration, similar to these:
* https://github.com/adrienverge/yamllint/blob/master/docs/disable_with_comments.rst
* https://github.com/bbatsov/rubocop/blob/master/manual/configuration.md#disabling-cops-within-source-code
* https://github.com/koalaman

[2018-04-23 13:16] DamirSvrtan commented on #49
Hey @jumanjiman thank you for opening an issue!

Would you be interested in implementing this? If so, could you please firstly elaborate on what you would do?

[2018-05-11 18:17] hlascelles commented on #48
Done! https://github.com/DamirSvrtan/fasterer/pull/51

[2018-05-11 18:17] #48 closed

[2018-06-14 17:10] thepanu commented on #49
I took a stab at it. At the moment it is only implemented for scan_rescue.

Idea is to hold method comments in store and if offenses are found then check if they have been included in the comment preceding the method.

My first ever attempt to submit anything, hopefully it is not completely atrocius :)

[2018-06-14 20:13] thepanu commented on #49
No rush. As mentioned I did it only for scan_rescue. If you are happy with that, I can then expand to cover the rest as well.

Also, added test as well.

And I notice that I should've included issue number in all of my commits for them tho show here.
#53

[2019-01-04 19:10] EdwardDiehl opened #54 "Rescue block (without a begin) within define_method throws a parser error."
This is a source code from my rails app models concern

[code]

fasterer outputs this error in the console
[code]

Looks like it fails on this line `rescue ActiveRecord::RecordNotUnique => e`

[2019-01-05 23:59] DamirSvrtan commented on #54
Hi @EdwardDiehl!

The reason why fasterer cannot process this file is because it has a syntax error. Just try running it with ruby and you will get an error:

[code]

The problem is that you are using the rescue without begin-rescue-end style syntax and that is only supported with regular `def`s, now with the define_method.

What you can do is either define it like this:

[code]
 or use the begin-

[2019-01-06 01:18] graywolf commented on #54
I think you don't need the `begin` since ruby 2.5:

[code]

(My version is without active record since I don't use that but should not be
relevant to this issue.)

I dunno, it's possible I'm missing something obvious here...

[2019-01-08 16:42] DamirSvrtan commented on #54
Hey @graywolf - you are using the begin-less syntax again in a method definition -> in `def.self.included`. That's why it's working.

[2019-01-08 20:46] Oppen commented on #5
tr isn't necessarily faster than gsub for replacing a single character by another single character on a string.
I ran the following code:
`
#!/usr/bin/env ruby

require 'benchmark'

ITS=1000000
STR=':' + 'A' * 4096
PATTERN=':'
SUBS=';'

def with_gsub
  ITS.times do
    STR.gsub(PATTERN, SUBS)
  end
end

def with_sub
  ITS.times do
    STR.sub(PATTERN, SUBS)
  end
end

def with_tr
  ITS.times do

[2019-01-09 03:04] Arcovion commented on #5
@oppen You have to `.dup` the string to test the in-place ones, otherwise following the first iteration you're only testing the already-replaced string, so the last few results are void.
[code]
[code]
Using [this method](https://github.com/JuanitoFatas/fast-ruby#stringgsub-vs-stringsub-vs-string-code) from the the upstream [fast-ruby](https://github.com/JuanitoFatas/fast-ruby) project is slightly

[2019-01-09 03:08] Arcovion commented on #5
It's strange indeed that `gsub` is faster than `tr` here... I would never have predicted that.
But I guess this is a pathological case that'll be very unlikely in the real world.

[2019-01-09 03:35] Oppen commented on #5
That's possibly the case, but I will write a randomized benchmark tomorrow to make sure and come back.

[2019-01-09 03:48] Oppen commented on #5
Also, nice spot  Arcovion. They run after we're done with the others, so previous numbers should remain valid.
I'll fix that tomorrow. I'll also try your code and similar cases I found around.
On the cause of this, I don't think I have the skills to find it.

[2019-01-09 09:21] graywolf commented on #54
Ok so going with original code (I've installed rails in docker to try it out):

[code]

so it parses correctly... how should I run the file to get the error you have shown above?

Fasterer indeed fails to parse the file

[code]

however as I've said above, I have issues reproducing the issue in ruby...

[2019-01-09 23:50] Oppen commented on #5
I ran some more extensive benchmarks.
The code is in here: https://pastebin.com/h8BnUQSd
And the results in my machine are here: https://pastebin.com/Kp8NEea6

For reproducibility's sake, I'm running Xubuntu 18.10 on an Intel(R) Core(TM) i7-6700 CPU @ 3.40GHz with 32GiB of RAM, with stock Ruby 2.5.1p57 (2018-03-29 revision 63029).

An explanation to the results may be the following:
tr has constan

[2019-01-17 11:05] JaniJegoroff opened #55 "Ruby 2.6 support"
1. Install Ruby stable version 2.6.0
2. Run `fasterer`
[code]

[2019-01-22 05:21] DamirSvrtan commented on #55
Hi @JaniJegoroff,

Thanks for reporting this, unfortunately I can't do anything about it currently, we'll have to wait until the ruby_parser repo gets updated. Raising an issue over there.

[2019-01-28 08:20] graywolf commented on #54
Any update on this?

[2019-01-29 02:43] DamirSvrtan commented on #54
@graywolf which version of Ruby are you using?

[2019-01-30 09:01] graywolf commented on #54
The previous attempt was in `2.5.3`, this time with newer one:

[code]

[2019-01-30 09:13] graywolf commented on #54
fasterer uses ruby_parser right? Notice that while ruby_parser considers `test1.rb` invalid, ruby executes correctly both of them:

[code]

[2019-01-31 22:44] Oppen opened #56 "Array#last.reverse is faster than Array#reverse.first and viceversa"
Running this code:
[code]
we see a huge speed difference for this simple synthetic benchmark:
[code]
It's pretty intuitive that it works this way:
Let's say our array has N elements, and we want the last n but reversed.
We can either reverse it first, making N swaps (i.e. copies) and then copy the first n elements, making N+n copies, or we can take the last n elements, making n copies and then swa

[2019-02-01 02:13] Oppen commented on #56
Related PR to fast-ruby: https://github.com/JuanitoFatas/fast-ruby/pull/168

[2019-02-01 02:16] Oppen commented on #56
I'm trying to find how to add the check, but I'm failing.
Is there any overview of how the detection works and how the code is organized?

[2019-02-02 17:54] DamirSvrtan commented on #56
Hey @Oppen, thank you for a great find and your contribution! 🎉

There are a couple of ways Fasterer does detection:
- by looking at method calls
- by looking at method definitions
- by looking at rescue block presence

Each of them have a scanner inside of lib/scanner. The one that you are looking for is the method call.

A fairly similar checker for an offense would be the one where we look at `

[2019-02-02 18:16] DamirSvrtan commented on #54
Hi @graywolf, I've raised an issue on Ruby parser (which is what fasterer uses under the hood to parse ruby). Thank you for reporting the version as well bc I was not able to previously reproduce it with ruby 2.3 (nor 2.4 for that matter).

We have to wait until the ruby parser is updated. Is this blocking you in your development cycle?

[2019-02-03 01:12] Oppen commented on #56
Ok, I think I get it. Thanks!
I'll try to have a PR around Monday.
Also, I thought of another one in the mean time, I'll create an issue
describing it later.

El sáb., 2 feb. 2019 14:54, Damir Svrtan <notifications@github.com>
escribió:

[2019-02-04 16:46] EdwardDiehl commented on #54
Thank you guys for reproducing the issue and thank you @DamirSvrtan for the fasterer gem. Let's wait for the new version of ruby parser gem. It is not blocking issue for me.

[2019-02-06 19:43] monfresh commented on #54
In my app, ruby_parser version 3.12.0 fixes the issue. However, I can't update to 3.12.0 because `fasterer` is being too strict about the versioning: `~> 3.11.0`, which will only allow `3.11.x` versions. @DamirSvrtan is it possible to relax the version constraint please, or update it to 3.12.0?

[2019-02-08 08:10] DamirSvrtan commented on #54
@monfresh I've released a new version of [Fasterer](https://rubygems.org/gems/fasterer) with looser version constraints from now on, so we don't hit the same issues.

However, this does not solve the problem on Ruby 2.5, at least from what I'm testing out. @EdwardDiehl what about you?

[2019-02-08 15:22] monfresh commented on #54
Thanks @DamirSvrtan! That worked for me. In my case, I'm not using `define_method`. ruby_parser 3.11.0 was failing to parse something like this:
[code]
After upgrading, it is able to parse it.

[2019-02-09 08:08] EdwardDiehl commented on #54
@DamirSvrtan
The problem is still here for me as well
`gem 'fasterer', '~> 0.4.2'`
`ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]`

It still outputs `Racc::ParseError`

[2019-02-12 10:00] dukaev opened #57 "Output with directly in line"
👋Hi
With this output, we can faster go to files directly in line.
I checked in [RubyMine](https://www.dropbox.com/s/qnza51d3haq885g/rubymine.mp4?dl=0) and [Sublime Text](https://www.dropbox.com/s/caxgsfhw5ftpxp4/sublime.mp4?dl=0), Visual Studio Code, also it works in vim.
Output:
[code]

What do you think about this? If you like it I can do it :)

[2019-02-12 20:33] DamirSvrtan commented on #57
Cool, sure thing, wanna make a PR?

[2019-02-12 20:35] DamirSvrtan commented on #57
Would be great to support both types of outputting, for consistency sake. So that the output formatter can be configurable. I'm trying to think wether someone depends on the old output.

[2019-02-13 02:09] dukaev commented on #57
I will make PR.
Output will configurable.
`.fasterer.yml`
[code]
**details-by-lines** will be **false** by default.

[2019-02-13 12:33] dukaev commented on #57
🤔 Maybe?
[code]

[2019-02-17 10:48] dukaev commented on #57
👋 @DamirSvrtan
Can you please review my PR's?

[2019-02-21 20:55] Oppen commented on #56
Sorry for the delay. I just wanted to let you know that I'm still interested in submitting this improvement, but I'm currently preparing for finals and will lack the time for a few more weeks.
I'll mention the other idea I had just to make sure I don't forget it:
I've seen in my work's codebase that they tend to use ary.sort.first(10) to get the 10 greatest elements, which can be obtained by simpl

[2019-02-22 00:10] dukaev opened #63 "Report with links"
Report with links will be more informative.
[code]

[2019-02-24 15:41] dukaev commented on #56
Hi @Oppen 👋
Notice [reek](https://github.com/troessner/reek).
It may be useful for your PR

[2019-02-26 00:55] DamirSvrtan commented on #63
it might make sense to point these to the fast ruby repo as they are the source of truth for those issues.

[2019-02-26 05:55] DamirSvrtan commented on #56
No worries @Oppen, take care of your finals first, no rush :)

I would leave the comment about using `max(10)` in the fast-ruby repo so they have it there reported, and then start reporting on it here.

[2019-03-11 05:31] DamirSvrtan commented on #57
Merged this in with #64 !

[2019-03-11 05:31] #57 closed

[2019-03-14 05:17] DamirSvrtan commented on #55
The ruby_parser team has released support for Ruby 2.6.0 today so I have released a new version of fasterer that supports 2.6 as well. it's on rubygems, version `0.5.1`.

Thanks for reporting the issue!

[2019-03-14 05:17] #55 closed

[2019-03-14 05:18] DamirSvrtan commented on #54
The ruby_parser team has released support for Ruby 2.6.0 today so I have released a new version of fasterer that supports 2.6 as well. it's on rubygems, version `0.5.1`.

Thank you all for collaborating on this and pointing me in the right direction!

[2019-03-14 05:18] #54 closed

[2019-09-22 23:24] #40 closed

[2019-10-21 14:05] mensfeld opened #72 "Encoding::CompatibilityError: incompatible character encodings: UTF-8 and ASCII-8BIT"
when running fasterer I get:

[code]

repro:

[code]

[2019-10-28 00:35] DamirSvrtan commented on #72
Hi @mensfeld, thanks for opening the issue and I'm sorry you're seeing this. Unfortunately this is not an issue on Fasterer but the underlying parser implementation [ruby_parser](https://github.com/seattlerb/ruby_parser). Do you mind opening an issue there?

[2019-10-30 08:39] mensfeld commented on #72
Closing in favor of https://github.com/seattlerb/ruby_parser/issues/302

[2019-10-30 08:39] #72 closed

[2019-11-11 23:54] Diego-Zulu opened #75 "Run fasterer on specified files' list"
Hey there.

I was wondering if support for specifying a list of files to run Fasterer on could be added.

It would be really nice if we could make it work with xargs, I had this use case in mind:

```echo app/controllers/application_controller.rb config/routes.rb | xargs bundle exec fasterer```

[2019-11-25 04:22] DamirSvrtan commented on #75
Hi @Diego-Zulu!

I guess no one else encountered the need to do something like that so it was never implemented.

If you're willing to open a PR with the necessary changes I'd more than glad to review it!

[2020-02-04 19:54] manuelmeurer opened #77 "undefined method `name' for #<Fasterer::Primitive:0x00007f9a2092afd8>"
I just installed fasterer 0.8.1 and got the following error on running it:

[code]

[2020-02-05 05:50] DamirSvrtan commented on #77
Hi! 👋 Thanks for reporting the issue, i've released fasterer version 0.8.2 with a fix for this situation.

I would really love to know whether you can check your code, as from what I see, it looks like you have a iterator that has a block that invokes a method with no arguments on an array or a range, and I'm not sure what the use case would be, but potentially could be a bug.

The code would look

[2020-02-05 05:50] #77 closed

[2020-02-05 05:52] DamirSvrtan commented on #75
Hi @Diego-Zulu , any updates on this work?

Let me know whether you'd pick this work up or whether I should close this issue.

[2020-02-05 05:53] DamirSvrtan commented on #49
The PR #53 was closed some time ago, closing this issue as well.

[2020-02-05 05:53] #49 closed

[2020-02-05 05:55] DamirSvrtan commented on #63
@dukaev would you wanna take a stab at this? If not, i'd close it.

[2020-02-05 05:57] DamirSvrtan commented on #56
@Oppen any progress on getting this merged into fast ruby?

[2020-02-05 05:57] DamirSvrtan commented on #28
Closing this enhancement as it's been a while.

[2020-02-05 05:57] #28 closed

[2020-02-05 05:57] DamirSvrtan commented on #27
Closing this enhancement as it's been a while.

[2020-02-05 05:57] #27 closed

[2020-02-05 07:54] manuelmeurer commented on #77
Hi @DamirSvrtan, thanks for the quick fix! I installed v0.8.2 and indeed the error doesn't happen anymore.
My codebase is quite large, so I can't easily look for the iterator you describe.
Maybe you could add a `--verbose` option that outputs the file being checked, if that's possible?

[2020-02-05 14:24] dukaev commented on #63
@DamirSvrtan yes. I'll do it within a week.

[2020-02-05 15:41] Oppen commented on #56
I've been short of time. I'll try in the weekend.

[2020-02-07 06:59] dukaev commented on #63
In the first version, it will be possible to do it quickly.
The second version allows configured output without links.
[code]

@DamirSvrtan what do you think is the most suitable choice?

[2020-02-09 06:22] DamirSvrtan commented on #63
Hi @dukaev 👋

I am sorry, I am not completely clear on your suggestion.

Is your first suggestion to do it like this:

[code]

And the second one like this:

[code]

What do you think is the benefit of the first approach and what of the second one?

Would you link out all the reports to https://github.com/JuanitoFatas/fast-ruby ?

[2020-02-09 17:52] dukaev commented on #63
Hello @DamirSvrtan 🙂

In the first approach, `first_offense: 'some warn [some_url.com]'`:
➕ No need to edit the logic of output. Only edit `EXPLANATIONS`.

In the second `first_offense: { info: 'some_warn', link: 'some_url.com' }`:
➕ Allows to costomize output with links / without links.

Yes. Links to [JuanitoFatas/fast-ruby](https://github.com/JuanitoFatas/fast-ruby). Like https://github.com/Jua

[2020-02-11 05:30] DamirSvrtan commented on #63
Hey Dukaev, let's go with the second solution (or something similar) where it's easy to grab the key of the offense or the link of the offense without additional parsing.

[2020-03-06 21:54] dukaev commented on #63
👋 @DamirSvrtan. Added PR #78

[2020-05-12 20:02] MarcoCostantini opened #81 "fasterer doesn't work with file matrix.rb of standard library"
[code]

[2020-06-03 09:03] manjunath724 opened #82 "Fasterer speedup for hash_update_vs_hash_brackets"
**Hash.update** is an alias for **Hash.merge!**

Currently we have `hash_merge_bang_vs_hash_brackets` which suggests us to replace **Hash#merge!()** with **Hash#[]** but it doesn't suggest for **Hash#update()**.

**Example**

- hash.merge!({"key" => "value"}) -> offensive
- hash.update({"key" => value}) -> not offensive

[2020-08-12 05:30] DamirSvrtan commented on #81
Hi @MarcoCostantini & @Swooty18, do you get the same issue when running fasterer while using Ruby 2.7?

[2020-12-22 22:59] biow0lf opened #84 "Required ruby version"
Did `0.8.3` version really requires ruby `~> 2.2`? Can this requirements relaxed to `>= 2.2`?

[2020-12-25 16:11] swiknaba commented on #84
when changing to `>= 2.2` (how about `>= 2.3` --it is soon 2021!) probably we also want to add Ruby 3.0 to the travis-yml (and drop 2.2.?).

2.3.0 was release on 2015-12-25.

[2020-12-30 18:52] swiknaba opened #86 "Failing specs for Ruby 3"
Running the specs with Ruby 3.0, the following failures occur:

[code]

-> Due to the current Ruby version restrictions (see also https://github.com/DamirSvrtan/fasterer/issues/84), this gem cannot be installed with Ruby 3. Restrictions are relaxed here: https://github.com/DamirSvrtan/fasterer/pull/85

Expectation: specs are not failing.

**update**: specs fixed in #85

[2021-01-14 04:22] DamirSvrtan commented on #84
hi! 👋 We do not need to require only 2.x versions above 2.2, it was just added back when Ruby 3 was barely even mentioned :) We can relax the requirement to `>= 2.2`.

@swiknaba what would be the motivation to drop 2.2? I understand it is super old, but if it's not blocking our development in any way, i would rather keep it to provide support to folks that are stuck on 2.2. Let me know what you al

[2021-01-14 04:26] DamirSvrtan commented on #81
@MarcoCostantini let me know if you see this issue while using Ruby 2.7 - otherwise i'd close this issue.

[2021-01-14 04:28] DamirSvrtan commented on #82
Sounds good to me - would you be willing to document this speed up first in the https://github.com/JuanitoFatas/fast-ruby repository and then submit a PR to fasterer?

Thanks!

[2021-01-14 08:09] swiknaba commented on #84
My motivation to drop old versions from CI is to incur less CI runs for every push (thus saving money and time). Those few still running on super old versions could still run tests manually, and if failing, use an older version of the gem. --no strong opinion here though, I'm not paying for the CI of this project ;)

[2021-01-15 00:25] DamirSvrtan commented on #84
Well, neither am I, it's an open source project.

[2021-02-10 07:19] #84 closed

[2021-02-10 07:19] #86 closed

[2021-02-16 06:04] DamirSvrtan commented on #81
Closing this issue as the author is unresponsive. Please reopen if this is still an issue.

[2021-02-16 06:04] #81 closed

[2021-02-16 06:04] DamirSvrtan commented on #56
@Oppen any progress on getting this merged into fast ruby?

[2021-02-16 06:06] DamirSvrtan commented on #75
Closing this issue as the issue author is not responding. I think it's a good improvement, I just don't have the time to do it though.

[2021-02-16 06:06] #75 closed

[2021-07-01 01:10] fnando opened #89 "Add support for json output"
It'd be nice to have JSON output, maybe something like `--format` json or even `--json`. This would make the integration with editors like VSCode way easier.

[2021-07-01 01:10] fnando opened #90 "Add support for running a single file"
This would make the integration with editors like VSCode way easier. Something like `fasterer file.rb` would be great.

[2021-07-01 01:13] fnando commented on #90
Oh, looks like it does already, but it's not documented on the readme.

[code]

[2021-07-01 01:13] #90 closed

[2021-07-15 13:48] ChefAustin opened #91 "Feature Request: Line-level Inline Exclusions"
I think it would be a great enhancement if I was able to disable/exclude a speed suggestion for a specific line via a magic comment (much like how Rubocop does single-instance cop-disablement; `# rubocop:disable Metrics/LineLength`).

There are times where a single `speedup` in a given line of code is not applicable and I want to disable the `speedup` for the line _but_ I don't want to have to add

[2021-09-15 02:32] DamirSvrtan commented on #91
Hi @ChefAustin! Thanks for the suggestion, I see it is well accepted by looking at the number of upvotes. Do you potentially have the bandwidth to try to do a proof of concept how it would work?

[2021-09-15 02:34] DamirSvrtan commented on #89
Hi @fnando! Can you tell me more on how it would make the integration with VSCode easier? is there a specific format that VSCode would expect? And would you need to do build a plugin in VSCode that would make it work. Do tell me more, i'm very interested in this as it should be an easy addition.

[2021-09-15 02:37] DamirSvrtan commented on #56
@Oppen i'll be closing this as there hasn't been any work on it for a longer period of time, and the fast-ruby PR hasn't been merged in. If you want to continue working on this, feel free to open a new PR, and please make sure the change is in fast-ruby as well.

Best,
Damir

[2021-09-15 02:37] #56 closed

[2021-11-03 17:09] connicov1 commented on #37
Hey guys, if you don't mind I created a small PR with the fix
https://github.com/DamirSvrtan/fasterer/pull/93
Please check it when you have time, probably did something wrong...

[2021-11-25 14:48] volhit opened #94 "Does not work if there are Ruby 3.0 one line methods in the code"
Got ` Racc::ParseError - (string):3 :: parse error on value "=" (tEQL)`

Code example that break execution:
[code]

[2021-12-01 09:27] ChefAustin commented on #91
I very much wish I currently had the free time to do a PoC on this feature. I am hoping that in the coming months I might be able to get around to poking at it.

When I do eventually have the time, I'll need to first do a deep-dive into the mechanics of `fasterer` and see how it works (because, tbh, right now its a bit of a blackbox of awesome magic to me).

[2021-12-02 07:21] DamirSvrtan commented on #91
Sounds good! :) If there isn't any movement on this in the next 6 months, i'll close it out :)

[2022-01-10 05:03] DamirSvrtan commented on #94
Hi! This is usually due to the ruby_parser not supporting that version of Ruby. It seems they however do support [Ruby 3.0](https://github.com/seattlerb/ruby_parser/blob/master/History.rdoc#label-3.18.0+-2F+2021-10-27), can you post which version of it are you using?

[2022-01-19 13:13] mnin opened #96 "Ruby 3.1 Support"
@DamirSvrtan any chance to get support for Ruby 3.1.0? Seems like the project https://github.com/seattlerb/ruby_parser isn't maintained anymore

[2022-01-19 16:56] DamirSvrtan commented on #96
hey @mnin, thanks for reaching out! Can you tell me where you've got the information that ruby_parser isn't supported anymore?

[2022-01-19 18:05] mnin commented on #96
I don't know, so I'm asking for support for Ruby 3.1.0. There are no answers in the questions, no answers in the PR. No activity for 2 months.

[2022-01-31 07:10] DamirSvrtan commented on #96
I would recommend to reach out to the maintainer of ruby_parser to see what are the plans in terms of the 3.1.0 support, but I would not consider 2 months of inactivity on a project as not maintained.

[2022-02-15 09:52] mnin commented on #96
The maintainer of the ruby_parser added Ruby 3.1.0 support, it's not released yet.

https://github.com/seattlerb/ruby_parser/commit/d7f06448e3d9a0fc2a34684f38cb53d6e3d73a6a

[2022-04-25 05:19] DamirSvrtan commented on #96
@mnin the Ruby 3.1.0 support has been added. Thank you @zenspider for the newest release of ruby_parser.

[2022-04-25 05:19] #96 closed

[2022-04-25 05:20] DamirSvrtan commented on #94
There has been no follow up 3 months after my comment, closing out.

[2022-04-25 05:20] #94 closed